@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap");
body {
  font-family: "Barlow", sans-serif;
  background-color: white;
}
html {
    box-sizing: border-box;
  }
*, *:before, *:after {
   box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
  }
 .top {
    display: flex;
    justify-content: space-around;
    max-width: 21.875rem;
    text-align: center;
    margin: 1.4375rem auto 4rem auto;
}
.logo{
      align-self: center;
}
.grayRect{
  background-color: #e8eff2;
  color: #162441;
  margin-left: 8.5rem;
}
.grayRect:hover{
  background-color: #162441;
  color: white;
}
.orangeRect{
  background-color: #F16718;
  color: white;
}
.orangeRect:hover{
  background-color: #FF9B62;
  color:white;

}
.grayRect, .orangeRect{
    align-self: center;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    line-height: 1.625rem;
    font-style: normal;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    width: 10.9375rem;
    height: 3.625rem;
    padding: 1.625rem 1rem;
}
.grayRect, .orangeRect{
    width: 9.4375rem;
    height: 3rem;
    padding: 0.6875rem 0.8438rem;
}
.childCont{
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  max-width: 25rem;
}
.intro{
  margin: 0 24px 0 24px;
}
.intro h1{
  font-size: 3rem;
  font-weight: 800;
  line-height: 3rem;
  color: #162441;
  text-transform: uppercase;
  text-align: left;
  margin: 0 0 2rem 0;
}
.introP{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: #7b8bad;
  margin: 0 0rem 2rem 0rem;
}
.introFooter{
  display: flex;
  min-width: 19.375rem;
  justify-content: space-around;
  align-items: center;
  margin: 0 2.5625rem 4rem 0rem;
}
.introFooter p{
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
  color: #7b8bad;
  text-transform: uppercase;
  margin-left: 2rem;
}
.childContImage{
  background-image: url(./starter-code/assets/mobile/image-keyboard.jpg);
  width: 23.25rem;
  height: 20.6875rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.9375rem;
  position: relative;
  right: -1.5rem;
  margin-bottom: 1.5rem;
  border-bottom-right-radius: inherit;
  border-top-right-radius: inherit;
}
.childCont2{
  max-width: 25rem;
  margin: 0 auto 0 auto;
}
.text h2{
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.25rem;
  text-transform: uppercase;
  margin: 0 3.75rem 1.5rem 3.75rem;
  color: #162542;
}
.text p{
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
  color: #7B8BAD;  
  text-align: center;
  margin: 0 1.5rem 6.9375rem 1.5rem;
}
.childCont3{
  max-width: 25rem;
  margin: 0 auto 0 auto;
}
.textIcons{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 1.5rem;
}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f26818;
  width: 4.0625rem;
  height: 4.0625rem;
  border-radius: 1rem;

}
.textIcons h3{
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  color: #162542;
  margin: 3rem 3.4375rem 1.5rem 3.4375rem;
}
.textIcons p{
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
  color: #7b8bad;
  margin: 0 0 4rem 0;
}
footer {
  max-width: 23.4375rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: #7b8bad;
  line-height: 1.625rem;
  text-align: center;
  margin: 2rem auto 3.125rem auto;
}
.footer span {
  font-weight: 500;
}
@media screen and (max-width: 47.9375rem) {
  .set__images{
    display: flex;
    margin-bottom: 4.6875rem;
  }
  .phone-key-left {
    background-image: url(./starter-code/assets/mobile/image-phone-and-keyboard.jpg);
    background-color: #f26818;
    background-blend-mode: multiply;
    width: 8.0625rem;
    height: 12.0625rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.9375rem;
    margin-right: 1.5rem;
    margin-left: -1.375rem;
    border-bottom-left-radius: inherit;
   border-top-left-radius: inherit;
  }
  .glass-key-right{
    background-image: url(./starter-code/assets/mobile/image-glass-and-keyboard.jpg);
    width: 13.75rem;
    height: 12.0625rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.9375rem;
  }
}
@media screen and (min-width: 48rem) and (max-width: 75.625rem) {
  .top{
    justify-content: space-between;
    max-width: 45.3125rem;
    margin: 2.4375rem auto 3.875rem auto;
  }
  .grayRect{
    width: 10.9375rem;
    height: 3.625rem;
  }
  .childCont{
    flex-direction: row;
    max-width: 50rem;
    margin-bottom: 2.5rem;
  }
  .intro{
    align-self: center;
    max-width: 21.1875rem;
    margin-right: 4.3125rem;
    margin-left: 2.4375rem;
  }
  .introP{
    margin: 2.4375rem 0 2.4375rem 0;
  }
  .childContImage{
    background-image: url(./starter-code/assets/tablet/image-keyboard.jpg);
    width: 29.875rem;
    height: 26.5625rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
  }
  .childCont2 {
    max-width: 50rem;
    margin-bottom: 8.875rem;
  }
  .set__images {
    display: flex;
    margin-bottom: 4.5rem;
  }
  .phone-key-left {
    background-image: url(./starter-code/assets/tablet/image-phone-and-keyboard.jpg);
    background-color: #f26818;
    background-blend-mode: multiply;
    width: 13.375rem;
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.9375rem;
    margin: 0 1.875rem 0 2.4375rem;
  }
  .glass-key-right {
    background-image: url(./starter-code/assets/tablet/image-glass-and-keyboard.jpg);
    width: 27.5rem;
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.9375rem;
  }
  .introFooter{
    min-width: 21.1875rem;
  }
  .orangeRect{
    width: 10.9375rem;
    height: 3.625rem;
  }
  .text{
    display: flex;
  }
  .text h2{
    text-align: left;
    margin-left: 2.4375rem;
    margin-bottom: 0;
  }
  .text p{
    text-align: left;
    align-self: center;
    margin-bottom: 0;
  }
  .childCont3{
    max-width: 50rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .textIcons{
    max-width: 17.5625rem;
    margin: 0 4.3125rem 4.5rem 0;
    align-items: flex-start;
  }
  .textIcons h3{
    width: 13.4375rem;
    text-align: left;
    margin: 2.5rem 0 1.5rem 0;
  }
  .textIcons p{
    width: 17.5625rem;
    text-align: left;
    margin: 0 0 1.5rem 0;
  }

  }
@media screen and (min-width: 75.625rem) {
.top{
  max-width: 69.375rem;
  justify-content: space-between;
  margin: 3.4375rem auto 5.1875rem auto;
}
.grayRect{
  width: 10.9375rem;
  height: 3.625rem;
}
.childCont{
  flex-direction: row;
  max-width: 90rem;
}
.intro{
  max-width: 27.8125rem;
  margin: 4.0625rem 7.8125rem 0 10.3125rem;
}
.intro h1{
  font-size: 3.5rem;
  line-height: 3.5rem;
}
.intro p{
  font-size: 1.125rem;
}
.introP{
  margin: 1.5rem 0 2.5rem 0;
}
.introFooter{
  max-width: 27.8125rem;
  justify-content: left;
}
.orangeRect{
  width: 10.9375rem;
  height: 3.625rem;
}
.childContImage{
  background-image: url(./starter-code/assets/desktop/image-keyboard.jpg);
  width: 33.75rem;
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1.875rem;
  border-bottom-right-radius: 0.9375rem;
  border-top-right-radius: 0.9375rem;
  
}
.childCont2{
  max-width: 90rem;
  display: flex;
  justify-content: center;
}
.set__images{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10.5rem;
}
.phone-key-left{
  background-image: url(./starter-code/assets/desktop/image-phone-and-keyboard.jpg);
  background-color: #f26818;
  background-blend-mode: multiply;
  width: 15.9375rem;
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.9375rem;
  margin: 0 30px 0 2.4375rem;
}
.glass-key-right{
  background-image: url(./starter-code/assets/desktop/image-glass-and-keyboard.jpg);
  width: 27.8125rem;
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.9375rem;
}
.text{
  margin: 8.875rem 0rem 0 0px;
}
.text h2{
  max-width: 15.9375rem;
  text-align: left;
  margin-left: 7.8125rem;
}
.text p{
  max-width: 15.9375rem;
  text-align: left;
  margin-left: 7.8125rem;
}
.childCont3{
  max-width: 90rem;
  display: flex;
  justify-content: center;
}
.textIcons{
  max-width: 15.9375rem;
  margin: 0 1.875rem 4.5rem 0;
  align-items: flex-start;
}
.textIcons h3{
  width: 13.4375rem;
  text-align: left;
  margin: 2.5rem 0 1.5rem 0;
}
.textIcons p{
  width: 15.9375rem;
  text-align: left;
  margin: 0 0 1.5rem 0;
}
.childContImage::after{
  content: " ";
  position: absolute;
  background-image: url(./starter-code/assets/shared/pattern-square.svg);
  width: 15.9375rem;
  height: 14.75rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.9375rem;
  margin-bottom: 15.25rem;
  right: -17.5rem;
  z-index: -1;
}
.phone-key-left:before {
  content: " ";
  position: absolute;
  background-image: url(./starter-code/assets/shared/pattern-square.svg);
  width: 15.9375rem;
  height: 14.75rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.9375rem;
  margin-top: 15.25rem;
  margin-right: 1.875rem;
  left: -8.125rem;
  z-index: -1;
}
  }